@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{margin:0;overflow:hidden}
.app{padding:10px;background-color:#fafbfd;text-align:center;font-family:Open Sans,sans-serif;color:#4a5465;height:100%;font-weight:600}
.app .logo{margin:20px auto;width:132px;height:26.3px;background: rgba(0, 0, 0, 0) url("../resources/td-logo.svg") repeat scroll 0% 0% / cover}
.app .bottom{position:absolute;bottom:16px;left:16px;right:16px}
.button{background-color:#439ad9;text-align:center;height:40px;color:#fff;font-size:14px;font-weight:300;width:100%;border:1px solid #439ad9;transition:background .2s linear,border-color .2s linear;border-radius:3px;cursor:pointer;outline:none}
.button:hover{background-color:#2e8fd5;border-color:#2e8fd5}
.container{text-align:left;margin-bottom:8px}
.container .label{font-size:12px;margin-bottom:5px;font-weight:600}
.container .div-container{font-size:14px;background-color:#fff;border-radius:3px;padding:10px;border:1px solid #439ad9}
.container .div-container .input-container{display:-ms-flexbox;display:flex;width:100%;padding:0;overflow:hidden}
.container .div-container .input-container span{font-size:12px}
.container .div-container .input-container span.input{-ms-flex:1 0 0;flex:1 0 0;border:none;outline:none;white-space:nowrap}
#agent,#load,#error{width:280px;height:460px;position:absolute;overflow:hidden;z-index:100}
.retry{color:inherit;text-decoration:none;border: 1px solid #e6e6e6;border-radius:6px;padding: 0px 4px 3px 4px}
.retry:hover{border: 1px solid #a5a5a5}
#cti,.callbar{width:300px;height:480px;overflow:hidden}
#cti{z-index:100}
.conversations{transform:scale(0.725);margin-left:-57px;margin-top:-91px;width:414px;height:662px;overflow:hidden}
.minimize{overflow:hidden}
#minimize-button{cursor:pointer;position:absolute;z-index:50}
#minimize-button:hover{background:white;opacity:0.35}
.minimize-button-callbar{top:8px;width:23px;height:23px;border-radius:2px;right:36px}
.minimize-button-conversations{top:5px;width:20px;height:19px;border-radius:4px;right:271px}
.icon{margin:10px;font-size:50px}
.wave{animation-name:wave-animation;animation-duration:2.5s;animation-iteration-count:infinite;transform-origin:70% 70%;display:inline-block}
@keyframes wave-animation {0%{transform:rotate(0.0deg)} 10%{transform:rotate(14.0deg)} 20%{transform:rotate(-8.0deg)} 30%{transform:rotate(14.0deg)} 40%{transform: rotate(-4.0deg)} 50%{transform:rotate(10.0deg)} 60%{transform:rotate(0.0deg)} 100% {transform:rotate(0.0deg)}}