@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{margin:0;overflow:hidden;}
.app{padding:10px;background-color:#fafbfd;text-align:center;font-family:Open Sans,sans-serif;color:#4a5465;height:100%}
.app .logo{margin:20px auto;width:132px;height:26.3px;background: rgba(0, 0, 0, 0) url("../resources/td-logo.svg") repeat scroll 0% 0% / cover;}
.app .title{margin-top:10px;font-weight:600}
.app .title p{font-size:16px;margin:5px}
.app .bottom{position:absolute;bottom:16px;left:16px;right:16px}
.button{background-color:#439ad9;text-align:center;height:40px;color:#fff;font-size:14px;font-weight:300;width:100%;border:1px solid #439ad9;transition:background .2s linear,border-color .2s linear;border-radius:3px;cursor:pointer;outline:none}
.button:hover{background-color:#2e8fd5;border-color:#2e8fd5}
.container{text-align:left;margin-bottom:8px}
.container .label{font-size:12px;margin-bottom:5px;font-weight:600}
.container .div-container{font-size:14px;background-color:#fff;border-radius:3px;padding:10px;border:1px solid #439ad9}
.container .div-container .input-container{display:-ms-flexbox;display:flex;width:100%;padding:0;overflow:hidden}
.container .div-container .input-container span{font-size:12px}
.container .div-container .input-container span.input{-ms-flex:1 0 0;flex:1 0 0;border:none;outline:none;white-space:nowrap}
#agent{width:280px;height:460px;position:absolute;display:none;overflow:hidden;}
#cti{width:300px;height:480px;display:none;overflow:hidden;}
#callbar{width:300px;height:480px;display:none;overflow:hidden;}
#minimize {display:none;overflow:hidden;}
.minimize-button{cursor:pointer;top:8px;width:23px;height:23px;border-radius:2px;position:absolute;}
.minimize-button:hover{background:white;opacity:0.35;}
.minimize-button1{right:8px;}
.minimize-button2{right:36px;}